#InteliJi
.idea
SpecialDiscordBot.iml

#BotMannager
BotMannager/target

#WebScrapperForDiscordBotModule
WebScrapperForDiscordBotModule/mvnw.cmd
WebScrapperForDiscordBotModule/mvnw
WebScrapperForDiscordBotModule/.mvn
WebScrapperForDiscordBotModule/target

#ConfigurationForDiscordServersModule
ConfigurationForDiscordServersModule/.mvn
ConfigurationForDiscordServersModule/mvnw.cmd
ConfigurationForDiscordServersModule/mvnw
ConfigurationForDiscordServersModule/target